@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: thin solid red;
} */

body {
  font-optical-sizing: auto;
}

.miniature-wrapper {
  transform: scale(0.3);
  transform-origin: top left;
  width: 350%;
}

/* .ant-menu-submenu-selected .ant-menu-submenu-arrow {
  color: #010309 !important;
}
.ant-menu-submenu-arrow {
  color: #808080 !important;
}

.ant-table-thead > tr > th {
  color: #000000;
  font-family: "Lato" serif;
}

.ant-table-thead > tr {
  padding: 20px 24px;
  background-color: #f5f5f5 !important;
}

.ant-table-tbody > tr > td {
  color: #010b18;
  font-weight: 500;
  font-family: "Poppins" serif;
} */

